/* Aqui vai o bode e configuraçoes gerais*/
body, a ,p, ul, li{
    margin: 0px;
    padding: 0px;
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
span{
    font-weight: bolder;
    text-transform: uppercase;
}
label{
    color: #1086dc;
    font-weight: bolder;
}
/* Header */
.header{
    padding: 0.625em;
    color:white;
    display: flex;
    align-items: center;
    background-color: #1086dc;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
}
.menu{
    /* background: tomato; */
    flex-grow: 1;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu a{
    color: white;
    padding: 0.625em;
    font-weight: bold;
    margin-left: 0.625em;
}
/* Container */
.container{
    margin: 0 auto;
    max-width: 68.75em;
   
}
/*banner */
 .banner{
    display: flex;
    margin: 0.625em auto;
}
.banner figure{
    margin: 0 auto;
}
.banner figure img{
    max-width: 37.5em;
    align-items: center;
    border: 4px solid #1086dc;
    box-shadow: 0.3125em 0.3125em 0px #000;
} 

/* H1 */
.container h1{
    color: #1086dc;
    margin: 3.125em 3.125em 3.125em 0px;
}

/* Divs livros */

.livros{
    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 60.75em;
    margin: 3.75em auto;
    
}

.livros-item{
    flex: 1 1 18.75em;
    margin: 1.250em 0.625em;
    background-color: #eeeeee79;
    align-items: center;
    justify-content: center;
}
.livros p{
    margin: 10px;
}
.livros img{
    max-width: 18.75em;
    max-height: 25em;
    box-shadow: 0.3125em 0.3125em 0px #000;
}
.footer{
    max-height: 31.25em;
    background-color:gray;
    display: flex;
    justify-content: space-between;
    padding: 0.625em;
    align-content: space-around;    
}
.footer section{
    align-content: space-between;

}
